:root{
    --corFundoBody1:  #ebe7b2 ;
    --corFundoBody2:  #77926cf6;
    --corFontBody: rgb(20, 20, 20);
    --corFontNav: black;  
}

.body-minhaAgenda{
    width: 100%;
    min-height: 100vh;
    color: rgb(20, 20, 20);
    background-image: radial-gradient(var(--corFundoBody1), var(--corFundoBody2));
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.cont-minhaAgenda{
    width: 100%;
    min-height: 100%;
    background-color: #e9e3e300;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7rem;
    gap: .6rem;
   

}
.titulo-espaçado{
    letter-spacing: .2rem;
    height: 10%;
}

.conteudo-minhaAgenda{
    width: 100%;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.nav-minhaAgenda{
    display: flex;
    gap: 3rem;
    height: 10%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.nav-minhaAgenda a{
    text-decoration: none;
    font-size: clamp(.7rem, 1.6vw, 2rem);
    color: var(--corFontNav);
}

.body-cards-minhaAgenda{
    padding-top: .9rem;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    
}