:root {
    --corFundoData: rgb(123, 30, 30);
    --corFontData: #fff;
    --corStatus: #7B1E1E;
    --corFontStatus: #fff;
    --corFontConteudo: #fff;
    --tamanhoDoCard: 15rem;
    --tamnhoData: 3rem;
}



.card-evento {
    position: relative;
    width: var(--tamanhoDoCard);
    height: calc(var(--tamanhoDoCard) * 1.2);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: flex-end;
    font-family: 'Georgia', serif;
    
}

.card-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(2, 20, 20, 0.164) 0%, rgba(0, 0, 0, 0.199) 100%);
    z-index: 1;
}

.card-content {
    position: relative;
    padding: 2rem;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: clamp(.9rem, 3vh, 2.2rem);
    margin: 0 0 .9rem 0;
    line-height: 1.05;
    text-shadow: .0rem .0rem .2rem black, 0 0 1em rgb(4, 4, 7);
}

.card-meta {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.date-badge {
    background: rgba(88, 18, 18, 0.95);
    width: calc(var(--tamnhoData) + 20px);
    height: calc(var(--tamnhoData) - 12px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 6px;
    font-size: clamp(.9rem, 2.7vh, 2.2rem);
    
}

.meta-text {
    display: flex;
    flex-direction: column;
    font-size: clamp(.8rem, 2.5vh, 1.5rem);
    gap: .5rem;
    margin-bottom: 1.5rem;
    text-shadow: .0rem .0rem .2rem black, 0 0 1em rgb(4, 4, 7);
}

.meta-text .vacancies {
    font-size: clamp(.8rem, 2.5vh, 1.5rem);
    opacity: 0.95;
}

.card-button {
    background: rgba(107, 22, 22, 0.95);
    color: #fff;
    height: 2.3rem;
    width: 80%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: clamp(.8rem, 2.5vh, 1.5rem);
    align-self: center;
}




@media (min-height:750px) {

    .card-evento {
        width: calc(var(--tamanhoDoCard) + 3rem);
        min-height: calc((var(--tamanhoDoCard) + 3rem) * 1.2);
        padding-top: 1rem;
        border-radius: 19px;
    }
    .date-badge{
        width: calc((var(--tamnhoData) + 1rem) + 20px);
        height: calc((var(--tamnhoData) + 1rem) - 12px);
    }

    .card-title {
    font-size: clamp(.9rem, 3vh, 2.2rem);
    margin: 0 0 1.2rem 0;
    line-height: 1.05;

}
.card-button {
    height: 2.7rem;
    width: 85%;
    font-size: clamp(.9rem, 2.7vh, 1.7rem);
}

}

@media (min-height:850px) {
    .card-evento {
        width: calc(var(--tamanhoDoCard) + 7rem);
        min-height: calc((var(--tamanhoDoCard) + 7rem) * 1.2);
        padding-top: 1.2rem;
        border-radius: 22px;
    }
    .date-badge{
        width: calc((var(--tamnhoData) + 1.5rem) + 20px);
        height: calc((var(--tamnhoData) + 1.5rem) - 12px);
    }

    .card-title {
    font-size: clamp(1rem, 3.5vh, 2.5rem);
    margin: 0 0 1.5rem 0;
    line-height: 1.05;

} 
.card-button {
    height: 3rem;
    width: 90%;
    font-size: clamp(1rem, 3vh, 1.8rem);
}
}