.MenuPesq-cont{
    height: 90px;
    width: 95%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;

    border-radius: 20px;
    background-color: rgba(217, 217, 217, 1);
}



.Cont-barraFiltro{
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.BarraFiltro-barraPesq{
    height: 45%;
    width: 100%;

    display: flex;
    flex-direction: row;
    
}
.BarraPesq-barra{
    height: 100%;
    width: 96%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.PesqBttn{
    height: 85%;
    width: 90%;

    border: solid 2px;
    border-color: black;
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
}

.BarraFiltro-filtroBttns{
    height: 55%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.2rem;
}
.FiltroBttns-iconBttn{
    height: 100%;
    width: 10%;
}
.IconBttn-filtro{
    background-color: transparent;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    border: none;
}
.FiltroBttns-bttnsDT{
    height: 100%;
    width: 40%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.BttnsDT{
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: space-around;
    align-items: center;    

    border: solid 1px;
    border-color: black;
    border-radius: 10px;
    cursor: pointer;

}
.FiltroBttns-bttnsMN{
    height: 100%;
    width: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.BttnsMN{
    height: 100%;
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;    

    border: solid 1px;
    border-color: black;
    border-radius: 10px;
    cursor: pointer;
}
.BttnsDT.ativo, 
.BttnsMN.ativo {
    background-color: rgba(112, 8, 8, 0.2);
    border-color: rgba(112, 8, 8, 1);
    transform: scale(1.05);
    font-weight: bold;
}




.Cont-dir{
    height: 100%;
    width: 50%;

    display: flex;
}
.Dir-CdReg {
    height: 100%;
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.Dir-TdsReg {
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}
