.CardsEvento{
    height: 100px;
    width: 100%;
}
.CardsTrilhas{
    height: 100%;
    width: 85%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.Bttn{
    background-color: transparent;
    height: 100%;
    width: 87%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    cursor: pointer;
}
.Bttn-img{
    height: 100%;
    width: 100%;
    background-color: rgba(112, 8, 8, 1);

    border: solid 2px;
    border-color: black;
    border-radius: 25px;
}

.Cont-CardsTrilhas1{
    background-color: white;
    color: black;

    height: 225px;
    width: 95%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: solid;
    border-color: transparent;
    border-radius: 25px;
}
.Login-bttn1{
    height: 100%;
    width: 15%;

    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-color: transparent;
}



.Cont-CardsTrilhas2{
    background-color: gray;
    color: white;

    height: 225px;
    width: 95%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    border: solid;
    border-color: transparent;
    border-radius: 25px;
}
.Login-bttn2{
    height: 100%;
    width: 15%;

    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: transparent;
}