.CardsEvento{
    height: 100px;
    width: 100%;
}

.Cont-CardsTrilhas{
    height: 200px;
    gap: 1%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: solid 2px;
    border-color: black;

    background-color: rgb(191, 191, 191);
}

.CardsTrilhas{
    height: 100%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.Login-bttn{
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(217, 217, 217, 1);
}

.Bttn{
    height: 95%;
    width: 95%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;
}
.Bttn-img{
    height: 97%;
    width: 97%;
    background-color: rgba(112, 8, 8, 1);
}