.Card-evento {
    width: var(--tamanhoDoCard);
    height: calc(var(--tamanhoDoCard) * 1.2);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Georgia', serif;
}

.Card-content {
    padding: 28px;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.Data-card-minhaAgenda {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 3;
    background: rgba(88, 18, 18, 0.95);
    width: 3.8rem;
    height: 3.2rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(.9rem, 3vh, 2.2rem);
    font-weight: 700;
    text-shadow: 0 0 .3rem black;
}

.Barra-data-minhaAgenda {
    width: 60%;
    height: 2px;
    background: #fff;
    opacity: 0.8;
}


.Status-card-minhaAgenda {
    background: var(--corStatus);
    padding: .3rem .8rem;
    width: fit-content;
    border-radius: 6px;
}

.Conteudo-status-card-minhaAgenda {
    font-size: clamp(.7rem, 2vh, 1.2rem);
    color: #fff;
    font-weight: bold;
}

/* TÍTULO + INFORMAÇÕES */
.Informcao-card-minhaAgenda h1 {
    font-size: clamp(1rem, 3vh, 2rem);
    margin: 0;
    text-shadow: 0 0 .3rem black;
}

.Informcao-card-minhaAgenda h3 {
    margin: .3rem 0;
    font-size: clamp(.8rem, 2.5vh, 1.3rem);
    opacity: 0.95;
    text-shadow: .0rem .0rem .2rem black, 0 0 1em rgb(4, 4, 7);
}

/* BOTÃO */
.Buttons-cards-minhaAgenda {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}

.Bttn-Participar {
    width: 80%;
    height: 2rem;
    background: rgba(107, 22, 22, 0.95);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ------------------------ */

.Cont-cardsTrilhas {
    height: 195px;
    width: 95%;

    display: flex;
    flex-direction: row;
}

.Bttn{
    background-color: rgba(112, 8, 8, 1);
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.Bttn-icon{
    height: 80%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: solid 0.2rem;
    border-left: solid 0.2rem;
    border-right: solid 0.2rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: rgba(112, 8, 8, 0);
}
.Icon{
    background-color: rgba(112, 8, 8, 1);
    color: transparent;
    height: 100%;
    width: 100%;

    border-top: solid 0.2rem;
    border-left: solid 0.2rem;
    border-right: solid 0.2rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.Bttn-txt{
    background-color: white;
    height: 20%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(112, 8, 8, 1);
    border-bottom: solid 0.2rem;
    border-left: solid 0.2rem;
    border-right: solid 0.2rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    font-size: 0.8rem;
    color: rgba(112, 8, 8, 1);
}


.Cont-CardsTrilhasE {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.CardsTrilha-ImgD{
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    height: 100%;
    width: 20%;
}
.CardsTrilhas-InfD{
    background-color: whitesmoke;
    color: black;
    height: 100%;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem 0.7rem;

    border: none;
    border-radius: 25px;
}
.CardsTrilhas-BttnD{
    background-color: transparent;
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: flex-end;
}


/* ----- INVERTIDO ----- */


.Cont-CardsTrilhasD{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}
.CardsTrilha-ImgE{
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    height: 100%;
    width: 20%;
}
.CardsTrilhas-InfE{
    background-color: rgb(100, 100, 100);
    color: white;
    height: 100%;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0.5rem 0.7rem;

    border: none;
    border-radius: 25px;
}
.CardsTrilhas-BttnE{
    background-color: transparent;
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: flex-start;
}
