.CardsAgenda {}

/* ------------------------ */

.Cont-cardsTrilhas {
    height: 195px;
    width: 95%;

    display: flex;
    flex-direction: row;
}

.Bttn{
    background-color: rgba(112, 8, 8, 1);
    height: 100%;
    width: 85%;

    display: flex;
    flex-direction: column;

    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.Bttn-icon{
    height: 80%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: solid 0.2rem;
    border-left: solid 0.2rem;
    border-right: solid 0.2rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: rgba(112, 8, 8, 0);
}
.Icon{
    background-color: rgba(112, 8, 8, 1);
    color: transparent;
    height: 100%;
    width: 100%;

    border-top: solid 0.2rem;
    border-left: solid 0.2rem;
    border-right: solid 0.2rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.Bttn-txt{
    background-color: white;
    height: 20%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(112, 8, 8, 1);
    border-bottom: solid 0.2rem;
    border-left: solid 0.2rem;
    border-right: solid 0.2rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    font-size: 0.8rem;
    color: rgba(112, 8, 8, 1);
}


.Cont-CardsTrilhasE {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
}
.CardsTrilha-ImgD{
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    height: 100%;
    width: 20%;
}
.CardsTrilhas-InfD{
    background-color: whitesmoke;
    color: black;
    height: 100%;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem 0.7rem;

    border: none;
    border-radius: 25px;
}
.CardsTrilhas-BttnD{
    background-color: transparent;
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: flex-end;
}


/* ----- INVERTIDO ----- */


.Cont-CardsTrilhasD {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
}
.CardsTrilha-ImgE{
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    height: 100%;
    width: 20%;
}
.CardsTrilhas-InfE{
    background-color: rgb(100, 100, 100);
    color: white;
    height: 100%;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0.5rem 0.7rem;

    border: none;
    border-radius: 25px;
}
.CardsTrilhas-BttnE{
    background-color: transparent;
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: flex-start;
}
