.cont-navBar{
    display: flex;
    padding: 1rem;
    background-color: #7B1E1E;
    border-radius: 20px;
    width: 95%;
    height: 90%;
    align-items: center;
    justify-content: space-around;
    font-size: clamp(.7rem, 3vw, 2rem);

}
.link{
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.2s;
    letter-spacing: .08rem;
    position: relative;
    

}

a.link::after {

    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 50%;
    transition: all .25s ease;

}

a.link:hover::after {
    width: 100%;
    left: 0;
}

a.linkAtivo::after {
    width: 100%;
    left: 0;
}

.link:hover{
    scale: 1.1;
}