:root {
    --corBotaoCancelarInscricao: rgb(230, 12, 12);
    --corBtnEditar: rgb(10, 102, 10);
    --corButtonFinalizar: rgba(12, 150, 230, 0.767);
}


.body-modalTrilhaAgenda {
    position: fixed;
    top: 0;
    background-color: rgba(240, 248, 255, 0.493);
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.cont-modalTrilhaAgenda {
    width: 41.5%;
    height: 92vh;
    border-radius: 18px;
    background-image: linear-gradient(150deg, #700808e0, #1e0202ee);
    box-shadow: 0 0 .1rem black;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    color: white;
    margin-bottom: 1rem;
}




.cont-TrilhaAgenda {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    min-width: 100%;

}

.contImgTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 65%;

    h2 {
        font-size: clamp(1rem,
                2.8vw, 5rem);
    }

}


.img-trilhaAgenda {
    width: 70%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 12px;

}

.btn-canelarInscricao {
    background-color: var(--corBotaoCancelarInscricao);
    color: white;
    border: none;
    border-radius: 8px;
    padding: .7rem 1.2rem;
    font-size: clamp(1rem, 2.5vh, 1.5rem);
    cursor: pointer;
    font-family: 'Trade Winds';
    letter-spacing: .1rem;
}

.btn-canelarInscricao:hover {
    background-color: rgb(180, 10, 10);
}

.btn-canelarInscricao:active {
    background-color: rgb(150, 8, 8);
}

.butons_Criador {
    display: flex;
    gap: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 5rem;
    


}

.bnt-delete {
    background-color: var(--corBotaoCancelarInscricao);
    color: white;
    border: none;
    border-radius: 8px;
    padding: .7rem 1.2rem;
    font-size: clamp(1rem, 2.5vh, 1.5rem);
    cursor: pointer;
    font-family: 'Trade Winds';
    letter-spacing: .1rem;
    
}

.bnt-delete:hover {
    background-color: rgb(180, 10, 10);
}

.bnt-delete:active {
    background-color: rgb(150, 8, 8);
}

.bnt-editar {
    background-color: var(--corBtnEditar);
    color: white;
    border: none;
    border-radius: 8px;
    padding: .7rem 1.2rem;
    font-size: clamp(1rem, 2.5vh, 1.5rem);
    cursor: pointer;
    font-family: 'Trade Winds';
    letter-spacing: .1rem;
}

.bnt-editar:hover {
    background-color: rgb(8, 150, 8);
}

.bnt-finalizar {
    background-color: var(--corButtonFinalizar);
    color: white;
    border: none;
    border-radius: 8px;
    padding: .7rem 1.2rem;
    font-size: clamp(1rem, 2.5vh, 1.5rem);
    cursor: pointer;
    font-family: 'Trade Winds';
    letter-spacing: .1rem;
}

.bnt-finalizar:hover {
    background-color: rgb(8, 150, 230);
}

.conteudo-modal {
    display: flex;
    flex-direction: column;
    height: 45%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: clamp(.5rem, 2.1vh, 1rem);
}

.conteudo-modal h3 {
    letter-spacing: .09rem;
    font-family: "Poppins", sans-serif;

}

.linha-modal {
    border-bottom: .1rem solid white;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

.inputs_edicao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
    width: 100%;
    height: 75%;
}

.inputs_edicao label {
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 3.5vh, 4rem);
    width: 70%;
    gap: .3rem;
    height: 4rem;
}

.inputs_edicao input {
    width: 100%;
    height: 2rem;
    color: black;
    font-size: clamp(1rem, 2.5vh, 1.5rem);
    outline: none;
    border: none;
    border-radius: 0.2rem;
    padding: .5rem 1rem;

}

.inputs_edicao input:focus {
    background-color: rgba(255, 255, 255, 0.533);
}


.editarAtivo{
    display: none;
}

.menosSpaco{
   display: flex;
    flex-direction: column;
    align-items: center;
    height: 5%;
}

.maxSpaco{
    height: 95%;
}

