.body-modalTrilhaAgenda {
    position: fixed;
    top: 0;
    background-color: rgba(240, 248, 255, 0.493);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.cont-modalTrilhaAgenda {
    width: 60%;
    height: 60%;
    border: 1px solid #00000086;
    background-image: linear-gradient(150deg, #700808e0, #1e0202ee);

}

