.nav-minhaAgenda {
    display: flex;
    gap: 3rem;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;


}

.cont-menu {
    width: 10rem;
    display: flex;
    flex-direction: column;
    position: relative;

}

.cont-option {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 6rem;
    top: 1rem;
    background-color: var(--corFundoMenu);
    padding: 1.8rem;
    border-radius: 1rem;
    gap: 1.2rem;
    color: var(--corFontNav);
    align-items: center;
    justify-content: center;
    height: 8.5rem;
    z-index: 800;

}

.menu-ag {
    align-self: center;
    z-index: 810;
    color: var(--corDoMenu);
    cursor: pointer;

}

.nav-minhaAgenda a::after {

    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 50%;
    transition: all .25s ease;

}

.nav-minhaAgenda a:hover::after {
    width: 100%;
    left: 0;
}

a.navLinkAtivo::after {
    width: 100%;
    left: 0;
}

.nav-minhaAgenda a {
    position: relative;
    text-decoration: none;
    font-size: clamp(.7rem, 1.6vw, 2rem);
    color: var(--corFontNav);
    margin-bottom: .4rem;
}