@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cont-home {
    background-image: url('../../assets/img_home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 100%;

}

.cont-info-home {
    padding-left: 1.5rem;
    height: 90%;
    margin: 2%;
}

.cont-paragraphs {
    padding: 1rem;
    height: 60%;

    h1 {
        padding: .1rem;
        font-size: clamp(1.5rem, 4vw, 4rem);
        color: white;


    }

    p {
        font-family: poppins, sans-serif;
        font-weight: 600;
        font-size: clamp(.6rem, 3vw, 1.5rem);
        color: #fff;
        padding: 2%;

    }

}

.cont-button-explore {
    display: flex;
    width: 100%;
    min-height: 40%;
    padding: 1.8rem;

    button {
        font-family: 'Trade Winds', cursive;
        padding: 2%;
        width: 40vw;
        font-size: clamp(1.5rem, 4vw, 3rem);
        background-color: #7B1E1E;
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #681919;
        }
    }
}