@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cont-home {
    background-image: url('../../assets/img_home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
}
.cont-info-home{
    padding-left: 1.5rem;
}

.cont-paragraphs {
    height: 45%;
    padding: .9rem;

    h1 {
        padding: .1rem;
        font-size: 60px;
        color: white;


    }

    p {
        font-family: poppins, sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: #fff;
        padding: 20px;

    }

}

.cont-button-explore {
    display: flex;
    width: 100%;
    height: 45%;
    padding: 1.2rem;

    button {
        font-family: 'Trade Winds', cursive;
        padding: 35px 40px;
        font-size: 60px;
        background-color: #7B1E1E;
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #681919;
        }
    }
}