.card-minhaAgenda{
    display: flex;
    font-size: clamp(1.2rem,2vh,2rem);
    width: 25rem;
    height: 13rem;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 .1rem black;
}

.data-card-minhaAgenda{
    background-color: var(--colorButton);
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-card-minhaAgenda{
    display: flex;
    flex-direction: column;
    width: 86%;
    height: 100%;
}

.status-card-minhaAgenda{
    align-self: end;
    width: 25%;
    height: 15%;
    display: flex;
    align-items: end;

}

.conteudo-status-card-minhaAgenda{
   
    border-radius: 5rem;
    width: 80%;
    height: 50%;
    background-color: var(--colorButton);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    letter-spacing: .1rem;
    color: aliceblue;
    font-family: Arial;
}

.informcao-card-minhaAgenda{
    
    height: 70%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-shadow: .1rem .1rem .2rem black, 0 0 1em rgb(4, 4, 7);
    padding: 3rem 0 0 1rem;
    font-size: clamp(.7rem, 1.5vh, 2rem)

}

.data-card-minhaAgenda{
    color: #fff;
    font-size: 2rem;
    display: flex;
    gap: .5rem;
}

.barra-data-minhaAgenda{
    width: 70%;
    border: 1px solid;
    border-radius: 50%;
    transform: rotateZ(-30deg)
}

.buttons-cards-minhaAgenda{
    align-self: flex-end;
    width: 45%;
    height: 4rem;
    display: flex;
    gap: .5rem;
    

}

.botao-deletar-cards-MAG{
    height: 70%;
    width: 45%;
    border: none;
    border-radius: .7rem;
    background-color: rgb(170, 14, 14);
    color: #fff;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.644);
}

.botao-editar-cards-MAG{
    height: 70%;
    width: 45%;
    border: none;
    border-radius: .7rem;
    background-color: #447A9C;
    color: #fff;
     box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.644);
}
