:root{
    --corFundoData: rgb(123, 30, 30);
    --corFontData: #fff;
    --corStatus: #7B1E1E;
    --corFontStatus: #fff;
    --corFontConteudo:#fff;
    --tamanhoDoCard: 22rem;
    
    
}
.card-minhaAgenda{
    display: flex;
    font-size: clamp(1.2rem,2vh,2rem);
    width: var(--tamanhoDoCard);
    height: calc(var(--tamanhoDoCard) / 2 );
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 .1rem black;
    /* background-image: url("../../../../public/Imgs/banco/lagoinhaDoLeste.jpg"); */
    /* letter-spacing: .13rem; */
    font-family: Arial, Helvetica, sans-serif;
}


.data-card-minhaAgenda{
    background-color: var(--corFundoData) ;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--corFontData);
    font-size: clamp(1rem, 3.5vh, 2rem);
    gap: .5rem;
   /* font-family: 'Trade Winds';
     */
    font-family: Arial;
}

.conteudo-card-minhaAgenda{
    display: flex;
    flex-direction: column;
    width: 86%;
    height: 100%;
}

.status-card-minhaAgenda{
    align-self: end;
    width: 25%;
    height: 15%;
    display: flex;
    align-items: end;
    

}

.conteudo-status-card-minhaAgenda{
   
    border-radius: 5rem;
    width: 80%;
    height: 50%;
    background-color: var(--corStatus);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    letter-spacing: .1rem;
    color: var(--corFontStatus);
    font-family: Arial;
}

.informcao-card-minhaAgenda{
    
    height: 70%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0c0c0c05;
    color: var(--corFontConteudo);
    text-shadow: .0rem .0rem .2rem black, 0 0 1em rgb(4, 4, 7);
    padding: 0 0 0 1rem;
    font-size: clamp(.7rem, 2vh, 2rem);

}


.barra-data-minhaAgenda{
    width: 70%;
    border: 1px solid;
    border-radius: 50%;
    transform: rotateZ(-30deg)
}

.buttons-cards-minhaAgenda{
    align-self: flex-end;
    width: 45%;
    height: 4rem;
    display: flex;
    gap: .5rem;
    

}

.botao-deletar-cards-MAG{
    height: 70%;
    width: 45%;
    border: none;
    border-radius: .7rem;
    background-color: rgb(165, 53, 53);
    color: #fff;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.644);
}

.botao-editar-cards-MAG{
    height: 70%;
    width: 45%;
    border: none;
    border-radius: .7rem;
    background-color: #587383;
    color: #fff;
     box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.644);
}
