.Trilha-cont{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.Cont-cards{
    height: 100%;
    width: 95%;

    display: flex;
    flex-direction: row;
}
.Cards-trilhas{
    height: 100%;
    width: 100%;
}


/* ===== Fundo escurecido + blur ===== */
.ModalTrilha {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    backdrop-filter: blur(3px);    
}
/* ===== Caixa do modal ===== */
.ModalContent {
  height: 400px;
  width: 50%;
  border-radius: 25px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 1%;


  background: rgba(255, 255, 255,1);
  color: #222;
  font-family: Arial, sans-serif;
  
  animation: slideUp 0.35s ease; 
}
.ModalContent-Sup{
  height: 90%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.ContentSup-Esq{
  height: 100%;
  width: 60%;

  display: flex;
  flex-direction: column;

  border-right: 2.5px solid #0F5C3B;
  padding-right: 15px; 
}
.ContentSup-Dir{
  height: 100%;
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-left: 2.5px dotted #0F5C3B;
  padding-left: 15px;
}
.SupDir-cima{
  height: 75%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SupDirCima-sup{
  height: 60%;
  width: 100%;
}
.SupDirCima-sup{

}
.SupDirCimaSup1{
  display: flex;
  flex-direction: row;
  gap: 7%;
}
.SupDirCimaSup2{
  display: flex;
  flex-direction: column;
}
.SupDirCimaSup2 label {
  font-weight: 600;
  margin-bottom: 2.5px;
}
.SupDirCimaSup2 textarea {
  height: 75px;
  width: 100%;
  
  display: flex;
  text-align: start;
  padding: 5px;

  border-radius: 6px;
  border: 1px solid #ccc;

  resize: none;
  font-family: inherit;
}

.SupDirCima-inf{
  background-color: magenta;
}
.SupDirCima-inf{
  height: 40%;
  width: 100%;

}
.SupDir-baixo{
  height: 25%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.ModalContent-Inf{
  height: 10%;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== Título ===== */
.ModalContent h2 {
  text-align: center;
  margin-bottom: 7%;

  font-size: 30px;
  font-weight: bold;

  color: #0F5C3B;
}
/* ===== Parágrafos ===== */
.ModalContent p {
  margin: 8px 0;

  font-size: 20px;
  
  color: #333;
}

/* ===== Botão de Fechar ===== */
.ModalContent button {
  width: 100%;
  padding: 12px;
  background-color: #0F5C3B;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.ModalContent button:hover {
  background-color: #0c4a31;
  transform: scale(1.03);
}

/* ===== ANIMAÇÕES ===== */

@keyframes fadeIn {
  from { 
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.campo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.campo label {
  font-weight: 600;
  margin-bottom: 4px;
}
.campo input {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.controle-participantes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controle-participantes button {
  padding: 5px 12px;
  font-size: 18px;
  border: none;
  background: #1d5f91;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.controle-participantes input {
  width: 55px;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #bbb;
}
