.Trilha-cont {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Cont-menuPesq {
  width: 85%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.32rem;
}

.Cards-trilhas {
  width: 85%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.32rem 0.32rem 0.5rem;
  gap: 15px;
}



.ModalTrilha {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  backdrop-filter: blur(3px);
}
.ModalContent {
  height: 400px;
  width: 75%;
  max-width: 50%;
  border-radius: 25px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 1%;


  background: rgba(255, 255, 255, 1);
  color: #222;
  font-family: Arial, sans-serif;

  animation: slideUp 0.35s ease;
}
.ModalContent-Sup {
  height: 90%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.ContentSup-Esq {
  height: 100%;
  width: 60%;

  display: flex;
  flex-direction: column;

  border-right: 2.5px solid #0F5C3B;
  padding-right: 15px;
}

.ContentSup-Dir {
  height: 100%;
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-left: 2.5px dotted #0F5C3B;
  padding-left: 15px;
}

.SupDir-cima {
  height: 80%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SupDirCima-sup {
  height: 75%;
  width: 100%;
}

.SupDirCimaSup1 {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7%;
}

.SupDirCimaSup1-campo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 75px;
}

.SupDirCimaSup1-campo1 label {
  font-weight: 700;
}

.SupDirCimaSup1-campo1 input {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.SupDirCimaSup1-campo2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 85px;
}

.SupDirCimaSup1-campo2 label {
  font-weight: 700;
}

.SupDirCimaSup1-campo2 input {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.SupDirCimaSup2 {

  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SupDirCimaSup2 label {
  font-weight: 600;
  margin-bottom: 2.5px;
}

.SupDirCimaSup2 textarea {
  height: 75px;
  width: 100%;

  display: flex;
  text-align: start;
  padding: 5px;

  border-radius: 6px;
  border: 1px solid #ccc;

  resize: none;
  font-family: inherit;
}

.SupDirCima-inf {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SupDir-baixo {
  height: 20%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalContent-Inf {
  height: 10%;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.ModalContent h2 {
  text-align: center;
  margin-bottom: 7%;

  font-size: 30px;
  font-weight: bold;

  color: #0F5C3B;
}

.ModalContent p {
  margin: 8px 0;

  font-size: 20px;

  color: #333;
}

/* ===== Botão de Fechar ===== */
.ModalContent button {
  width: 100%;
  padding: 12px;
  background-color: #0F5C3B;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.ModalContent button:hover {
  background-color: #0c4a31;
  transform: scale(1.03);
}

/* ===== ANIMAÇÕES ===== */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.controle-participantes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controle-participantes button {
  padding: 5px 12px;
  font-size: 20px;
  border: none;
  background: #1d5f91;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.controle-participantes input {
  width: 50px;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #bbb;
}

/* Remove as setas no Chrome, Edge e Safari */
.controle-participantes input::-webkit-inner-spin-button,
.controle-participantes input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
