   .cont-perfil-body {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       background-color: rgba(0, 0, 0, 0.5);
       backdrop-filter: blur(3px);
       position: fixed;
       top: 0;
       left: 0;
       width: 100vw;
       height: 100vh;
       z-index: 9000;
   }

   .const-perfil {
       display: flex;
       flex-direction: column;
       background-image: linear-gradient(150deg, #700808d3, #1e0202f6);
       border-radius: 30px;
       /* box-shadow: 0 5px rgba(0, 0, 0, 0.35); */
       position: relative;
       overflow: hidden;
       width: 50vh;
       max-width: 100%;
       min-height: 73%;

   }


   .meu_perfil {
       display: flex;
       justify-content: flex-start;
       font-size: 20px;
   }


   .icone {
       padding-top: 20px;
   }


   .botao_editar {
       background-color: #447A9C;
       color: #fff;
       border-radius: 30px;
       font-size: 20px;
       border: none;
       padding: 10px 45px;
       cursor: pointer;
       /* margin-top: 20px; */
       width: 90%;
       align-self: center;
       

   }

   .botao_excluir {
       background-color: rgb(170, 14, 14);
       color: #fff;
       border-radius: 30px;
       font-size: 20px;
       border: none;
       padding: 10px 45px;
       cursor: pointer;
       /* margin-top: 20px; */
       width: 90%;
       align-self: center;
       margin-top: .6rem;
   }



   .close_button {
       align-self: flex-end;
       border: none;
       font-size: 19px;
       background-color: transparent;
   }

   .icone_nome {
       padding: 1rem;
       display: flex;
       align-items: center;
        height: 60%;
       flex-direction: column;
       gap: 1.5rem;
       color: #fff;
       

   }

   .icone_nome h1 {
       font-size: 2.5rem;
       margin: 0;

   }


   .linha {
       border: 0.1rem solid var(--colorButton);
       border-radius: 50px;
       width: 80%;
       align-self: center;
       height: 1%;

   }

   .dados_usuario {

       display: flex;
       align-items: flex-start;
       flex-direction: column;
       padding-top: 20px;
       color: #fff;
       height: 40%;
       gap: .5rem;


   }

   .dados_usuario p {
       padding: 5px;
       padding-left: 10%;
       color: #fff;
   }



   .cont_alerta {
       z-index: 900000;
   }

   .cont_background {
       color: #fff;
       background-color: #434343;
   }

   .cont_button_confirm {
       background-color: rgb(179, 29, 29);
   }

   .cont_button_deny {
       background-color: #447A9C;
   }

   .cont_button_confirm:hover {
       background-color: red;
   }

   .cont_button_deny:hover {
       background-color: blue;
   }