.Agenda-cont {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Cont-MenuPesq {
    width: 85%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.32rem;
}

.Cards-Agenda {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.32rem 0.32rem 0.5rem;
    gap: 15px;
}