.Agenda-cont{
    height: 100vh;
}

.Cont-MenuPesq{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93px;
}

.Cards-Eventos{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    height: 100%;
    background-color: black;
}