.Agenda-cont {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Cont-MenuPesq {
    width: 85%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.32rem;
}

.Cards-Agenda {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.32rem 0.32rem 0.5rem;
    gap: 15px;
}

.msg-sem-eventos {
  width: 100%;
  text-align: center;
  padding: 40px 10px;
  font-size: clamp(1rem, 2vw, 1.4rem);
  color: white;
  font-weight: 500;
}